@charset "utf-8";
/* CSS Document */

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  height: 100%;
  width: 100%;
}


    /* Prevent copy paste for all elements except text fields */
    *  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
    input, textarea  { -webkit-user-select:text; }
    body {
        background:url("img/bg.png") no-repeat center center fixed;
		background-attachment: fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
         }
		 .ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
